# Pandas. Домашнее задание

В домашнем задании есть обязательные и дополнительные задачи.

*Обязательные задачи* нужно сделать, чтобы проверить, что вы действительно усвоили материал модуля. Они обязательны к загрузке на проверку преподавателю.

*Дополнительные задачи* для тех, кто чувствует, что нужно ещё немного потренироваться и порешать задачки по работе с Pandas. Вы также можете загрузить их на проверку преподавателю и получить по ним обратную связь.

Удачи!



---



---

**Цели домашнего задания:**
1. Научиться работать с описательными статистиками набора данных.
2. Научиться выбирать данные по условиям.
3. Научиться объединять несколько датафреймов в один.

**Что входит в домашнее задание:**
1. *Обязательные задачи*:

17 задач с использованием:
- набора рекламных данных, показывающих, щелкнул ли конкретный пользователь интернета рекламу на веб-сайте компании или нет,
- дополнительного набора данных, описывающего пользователей, посещающих веб-сайт компании.
2. *Дополнительные задачи*:

3 задачи для отработки исследования данных.

**Критерии оценки:**
- программа выдаёт верный ответ на заданном наборе данных;
- код читабелен: переменным даны осмысленные названия, отступы и правила расстановки пробелов соблюдены.

**Как отправить задание на проверку**

Выполните задачи, сохраните изменения при помощи опции Save and Checkpoint из вкладки меню File или кнопки Save and Checkpoint на панели инструментов. Отправьте через форму на платформе итоговый файл Jupyter Notebook (в формате .ipynb) или ссылку на него.



---


---

**Обязательные задачи**

В течение всего домашнего задания вы будете работать с несколькими наборами данных:
1. Набор рекламных данных, показывающих, щёлкнул ли конкретный пользователь рекламу на сайте компании или нет. Состоит из трёх разных файлов: `advertising_1.csv`, `advertising_2.csv`, `advertising_3.csv`.

Описание столбцов датасета:
- **Number**: Номер пользователя в системе.
- **Daily Time Spent on Site**: Среднее ежедневное время нахождения пользователя на сайте в минутах.
- **Daily Internet Usage**: Среднее ежедневное время нахождения пользователя в интернете в минутах.
- **Ad Topic Line**: Заголовок рекламного объявления.
- **Clicked on Ad**: Кликнул пользователь на рекламу или нет.

Дополнительный к рекламным данным датасет, который описывает пользователей, посещающих сайт компании. Состоит из одного файла: users.csv.

Описание столбцов датасета:
- **Number**: Номер пользователя в системе.
- **Age**: Возраст пользователя.
- **Male**: Является ли пользователь мужчиной.
- **City**: Город пользователя.
- **Country**: Страна пользователя.
- **Area Income**: Средний доход в месте жительства пользователя.

***Задача 1***

Загрузите таблицу из файла `advertising_1.csv` и сохраните её в датафрейм `adv1_df`. Укажите в качестве индекса столбец `Number`. Выведите на экран первые десять строк.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols=None, squeeze: 'bool | None' = None, prefix: 'str | lib.NoDefault' = <no_default>, mangle_dupe_cols: 'bool' = True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace: 'bool' = False, skiprows=None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, skip_blank_lines: 'bool' = True, parse_dates=None, infer_datetime_format: 'bool' = False, keep_date_col: 'bool' = False, date_parser=None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, error_bad_lines: 'bool | None' = None, warn_bad_lines: 'bool | None' = None, on_bad_lines=None, delim_whitespace: 'bool' = False, low_memory=True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions' = None) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.

        .. deprecated:: 1.4.0
            Append ``.squeeze("columns")`` to the call to ``read_csv`` to squeeze
            the data.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...

        .. deprecated:: 1.4.0
           Use a list comprehension on the DataFrame's columns after calling ``read_csv``.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.

        .. deprecated:: 1.5.0
            Not implemented, and a new argument to specify the pattern for the
            names of duplicated columns will be added instead
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 1.5.0

            Support for defaultdict was added. Specify a defaultdict as input where
            the default determines the dtype of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

            .. versionadded:: 1.5.0
                Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, optional, default ``None``
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will be dropped from the DataFrame that is
        returned.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    warn_bad_lines : bool, optional, default ``None``
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than

In [4]:
adv1_df = pd.read_csv('advertising_1.csv', index_col='Number')

In [5]:
adv1_df.head(10)

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
5,68.95,256.09,Cloned 5thgeneration orchestration,0
6,80.23,193.77,Monitored national standardization,0
8,74.15,245.89,Triple-buffered reciprocal time-frame,0
9,NaN,225.58,Robust logistical utilization,0
10,59.99,226.74,Sharable client-driven software,0
11,88.91,208.36,Enhanced dedicated support,0
12,NaN,131.76,Reactive local challenge,1
13,74.53,NaN,Configurable coherent function,0
14,69.88,183.82,Mandatory homogeneous architecture,0
15,47.64,122.02,Centralized neutral neural-net,1

***Задача 2***

Выведите размер датафрейма `adv1_df`.

In [6]:
size = adv1_df.shape
print(size)

(500, 4)

In [7]:
print(adv1_df.shape)

(500, 4)

***Задача 3***

Выведите cреднее ежедневное время нахождения в интернете пользователя под номером 8.

In [8]:
print(adv1_df.loc[8, 'Daily Internet Usage'].mean())

245.89

***Задача 4***

Загрузите таблицу из файла `advertising_2.csv` и сохраните её в датафрейм `adv2_df`. Укажите в качестве индекса стоблец `Number`. Выведите на экран строки для пользователей с номерами с 533-го по 536-й.

In [9]:
adv2_df = pd.read_csv('advertising_2.csv', index_col='Number')

In [10]:
adv2_df.head(10)

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
530,NaN,165.27,Re-engineered impactful software,0
531,43.65,NaN,Business-focused background synergy,1
532,59.61,198.45,Future-proofed coherent budgetary management,0
533,46.61,NaN,Ergonomic methodical encoding,1
534,NaN,162.03,Compatible dedicated productivity,0
535,65.10,118.10,Up-sized real-time methodology,1
536,53.44,NaN,Up-sized next generation architecture,1
537,79.53,244.91,Managed 6thgeneration hierarchy,0
538,91.43,209.91,Organic motivating model,0
539,73.57,212.38,Pre-emptive transitional protocol,0

In [11]:
print(adv2_df.iloc[5:8, 0])

Number
535    65.10
536    53.44
537    79.53
Name: Daily Time Spent on Site, dtype: float64

***Задача 5***

Выведите сводную таблицу описательных статистик для датафрейма `adv2_df`, вызвав необходимый метод на всём датафрейме. 

Глядя на вывод, напишите, столбец с каким названием не содержит незаполненных значений.

*Подсказка:*  В сводной таблице не содержится информации о количестве строк всего датафрейма, поэтому для сначала распечатайте общее количество строк датафрейма.

*Рекомендация:* Кроме изученного метода `describe` для описания датафрейма и получения информации о пропущенных значениях полезен метод [`info`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html).

In [12]:
adv2_df.describe()

       Daily Time Spent on Site  Daily Internet Usage  Clicked on Ad
count                184.000000            184.000000     200.000000
mean                  66.494728            186.809674       0.420000
std                   15.414725             43.844580       0.494797
min                   32.910000            108.030000       0.000000
25%                   52.805000            148.955000       0.000000
50%                   71.150000            194.170000       0.000000
75%                   78.352500            225.372500       1.000000
max                   91.430000            259.760000       1.000000

In [13]:
print(adv2_df.shape[0])
adv2_df.describe().T
def no_blank_cols(df):
    cols = [col for col in df.columns if df[col].isna().sum() < 0]
    print(cols)

200

In [14]:
adv2_df.shape

(200, 4)

In [15]:
adv2_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 530 to 739
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  184 non-null    float64
 1   Daily Internet Usage      184 non-null    float64
 2   Ad Topic Line             200 non-null    object
 3   Clicked on Ad             200 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 7.8+ KB

In [16]:
print('Total number of rows:', len(adv2_df))
summary = adv2_df.describe()


no_missing = summary.columns[summary.loc['count'] == len(adv2_df)]

print('Не содержит незаполненных значений столбец:', no_missing[0])
print(summary)

Total number of rows: 200
Не содержит незаполненных значений столбец: Clicked on Ad
       Daily Time Spent on Site  Daily Internet Usage  Clicked on Ad
count                184.000000            184.000000     200.000000
mean                  66.494728            186.809674       0.420000
std                   15.414725             43.844580       0.494797
min                   32.910000            108.030000       0.000000
25%                   52.805000            148.955000       0.000000
50%                   71.150000            194.170000       0.000000
75%                   78.352500            225.372500       1.000000
max                   91.430000            259.760000       1.000000

In [30]:
print('Total number of rows:', len(adv2_df))
no_missing = adv2_df.columns[adv2_df.notnull().all()]
print('Columns without missing values:', list(no_missing))

Total number of rows: 200
Columns without missing values: ['Ad Topic Line', 'Clicked on Ad']

In [18]:
missing_data = adv2_df[adv2_df['Clicked on Ad'].isnull()]
print(missing_data)

Empty DataFrame
Columns: [Daily Time Spent on Site, Daily Internet Usage, Ad Topic Line, Clicked on Ad]
Index: []

***Задача 6***

Добавьте к датафрейму `adv1_df` в конец датафрейм `adv2_df` с помощью метода `append`. 

Сохраните объединенный датафрейм в новой переменной `adv12_df` и распечатайте его.

In [19]:
adv12_df = adv1_df.append(adv2_df)
print(adv12_df)

        Daily Time Spent on Site  Daily Internet Usage  \
Number
5                          68.95                256.09
6                          80.23                193.77
8                          74.15                245.89
9                            NaN                225.58
10                         59.99                226.74
...                          ...                   ...
735                        65.53                190.17
736                        61.87                   NaN
737                        83.16                   NaN
738                        44.11                121.24
739                        56.57                131.98

                                    Ad Topic Line  Clicked on Ad
Number
5              Cloned 5thgeneration orchestration              0
6              Monitored national standardization              0
8           Triple-buffered reciprocal time-frame              0
9                   Robust logistical utilization              0
10                Sharable client-driven software              0
...                                           ...            ...
735        Pre-emptive client-server installation              0
736     Multi-channeled attitude-oriented toolset              0
737                 Decentralized 24hour approach              0
738                Organic next generation matrix              1
739          Multi-channeled non-volatile website              1

[700 rows x 4 columns]

C:\Users\user\AppData\Local\Temp\ipykernel_11420\2213267692.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  adv12_df = adv1_df.append(adv2_df)

In [31]:
adv12_df = pd.concat([adv1_df, adv2_df])
print(adv12_df)

        Daily Time Spent on Site  Daily Internet Usage  \
Number
5                          68.95                256.09
6                          80.23                193.77
8                          74.15                245.89
9                            NaN                225.58
10                         59.99                226.74
...                          ...                   ...
735                        65.53                190.17
736                        61.87                   NaN
737                        83.16                   NaN
738                        44.11                121.24
739                        56.57                131.98

                                    Ad Topic Line  Clicked on Ad
Number
5              Cloned 5thgeneration orchestration              0
6              Monitored national standardization              0
8           Triple-buffered reciprocal time-frame              0
9                   Robust logistical utilization              0
10                Sharable client-driven software              0
...                                           ...            ...
735        Pre-emptive client-server installation              0
736     Multi-channeled attitude-oriented toolset              0
737                 Decentralized 24hour approach              0
738                Organic next generation matrix              1
739          Multi-channeled non-volatile website              1

[700 rows x 4 columns]

***Задача 7***

Для объединённого датафрейма `adv12_df` распечатайте среднее время, проводимое пользователем на сайте компании.

In [21]:
print(adv12_df['Daily Time Spent on Site'].mean())

65.57268138801263

***Задача 8***

Из объединённого датафрейма `adv12_df` выберите и распечатайте строки только с теми пользователями, для которых неизвестно среднее ежедневное время, проводимое пользователем на сайте компании.

In [22]:
missing_data = adv12_df[adv12_df['Daily Time Spent on Site'].isnull()]
print(missing_data)

        Daily Time Spent on Site  Daily Internet Usage  \
Number
9                            NaN                225.58
12                           NaN                131.76
19                           NaN                143.56
27                           NaN                164.83
34                           NaN                209.82
...                          ...                   ...
672                          NaN                235.97
674                          NaN                126.44
685                          NaN                200.71
690                          NaN                226.69
731                          NaN                225.05

                                  Ad Topic Line  Clicked on Ad
Number
9                 Robust logistical utilization              0
12                     Reactive local challenge              1
19                Grass-roots coherent extranet              1
27        Mandatory disintermediate utilization              1
34      Business-focused value-added definition              0
...                                         ...            ...
672            Customizable value-added project              0
674                Reactive impactful challenge              1
685               Focused multi-state workforce              0
690               Total coherent superstructure              0
731             Multi-tiered heuristic strategy              0

[66 rows x 4 columns]

***Задача 9***

Загрузите таблицу из файла `advertising_3.csv` и сохраните её в датафрейм `adv3_df`. Укажите в качестве индекса стоблец `Number`. Выведите на экран столбцы `Ad Topic Line` и `Clicked on Ad`.

In [32]:
adv3_df = pd.read_csv('advertising_3.csv', index_col='Number')

In [33]:
print(adv3_df[['Ad Topic Line', 'Clicked on Ad']])

                                       Ad Topic Line  Clicked on Ad
Number
740                 Distributed bifurcated challenge              0
741       Customizable zero-defect Internet solution              0
742     Self-enabling zero administration neural-net              1
744           Open-architected system-worthy ability              0
745               Quality-focused maximized extranet              1
...                                              ...            ...
999                    Front-line bifurcated ability              1
1000                   Fundamental modular algorithm              1
1001                 Grass-roots cohesive monitoring              1
1002                    Expanded intangible solution              1
1003            Proactive bandwidth-monitored policy              0

[251 rows x 2 columns]

***Задача 10***

Добавьте к датафрейму `adv12_df` в конец датафрейм `adv3_df` с помощью метода `concat`. Явно пропишите значение параметра `axis`.

Сохраните объединённый датафрейм в новой переменной `adv123_df` и распечатайте его.

In [34]:
adv123_df = pd.concat([adv12_df, adv3_df], axis=0)
print(adv123_df)

        Daily Time Spent on Site  Daily Internet Usage  \
Number
5                          68.95                256.09
6                          80.23                193.77
8                          74.15                245.89
9                            NaN                225.58
10                         59.99                226.74
...                          ...                   ...
999                        43.70                173.01
1000                       72.97                208.58
1001                       51.30                   NaN
1002                       51.63                120.37
1003                       55.55                187.95

                                Ad Topic Line  Clicked on Ad
Number
5          Cloned 5thgeneration orchestration              0
6          Monitored national standardization              0
8       Triple-buffered reciprocal time-frame              0
9               Robust logistical utilization              0
10            Sharable client-driven software              0
...                                       ...            ...
999             Front-line bifurcated ability              1
1000            Fundamental modular algorithm              1
1001          Grass-roots cohesive monitoring              1
1002             Expanded intangible solution              1
1003     Proactive bandwidth-monitored policy              0

[951 rows x 4 columns]

***Задача 11***

Для объединённого датафрейма `adv123_df` выберите только те строки, в которых пользователи кликнули на рекламное сообщение. Сохраните полученный результат в датафрейм `success_adv_df`, распечатайте размер нового датафрейма.

In [35]:
success_adv_df = adv123_df[adv123_df['Clicked on Ad'] > 0]
print(success_adv_df['Clicked on Ad'].count())

475

***Задача 12***

Загрузите таблицу с данными пользователей из файла `users.csv` и сохраните её в датафрейм `users_df`. Индекс не указывайте.

Распечатайте сам датафрейм и сводную таблицу со статистиками для него.

In [36]:
import pandas as pd

users_df = pd.read_csv('users.csv')
print(users_df)
print(users_df.describe())

     Number   Age  Male            City                 Country  Area Income
0         5   NaN   0.0     Wrightburgh                 Tunisia     61833.90
1         6  31.0   NaN       West Jodi                   Nauru     68441.85
2         7  26.0   0.0        Davidton              San Marino     59785.94
3         8  29.0   1.0  West Terrifurt                   Italy     54806.18
4         9   NaN   0.0    South Manuel                 Iceland     73889.99
..      ...   ...   ...             ...                     ...          ...
975    1000  30.0   NaN       Duffystad                 Lebanon     71384.57
976    1001  45.0   1.0     New Darlene  Bosnia and Herzegovina     67782.17
977    1002  51.0   NaN   South Jessica                Mongolia     42415.72
978    1003  19.0   0.0     West Steven               Guatemala     41920.79
979    1004  26.0   0.0     Ronniemouth                  Brazil     29875.80

[980 rows x 6 columns]
            Number         Age        Male   Area Income
count   980.000000  860.000000  868.000000    903.000000
mean    504.485714   36.073256    0.500000  55010.631938
std     287.956480    8.795992    0.500288  13423.710892
min       5.000000   19.000000    0.000000  13996.500000
25%     255.750000   29.000000    0.000000  46947.570000
50%     503.500000   35.000000    0.500000  57032.360000
75%     753.250000   42.000000    1.000000  65537.990000
max    1004.000000   61.000000    1.000000  79484.800000

***Задача 13***

Глядя на статистики `users_df`, укажите значения, удовлетворяющие следующим условиям:
1. Возраст самого молодого пользователя сайта: *ваш_ответ*
2. Максимальный средний доход в месте жительства пользователя сайта: *ваш_ответ*
3. Средний возраст пользователя сайта: *ваш_ответ*
4. Количество заполненных значений для колонки, содержащей информацию о том, является пользователь мужчиной или нет: *ваш_ответ*
5. Минимальный номер пользователя: *ваш_ответ*

В этом задании не требуется выбирать по условиям и распечатывать значения, достаточно внимательно посмотреть на статистики и скопировать нужные значения согласно вопросам.

In [37]:
success_adv_df = success_adv_df.reset_index()
success_full_df = pd.merge(success_adv_df, users_df, on='Number')
print(success_full_df)

     Number  Daily Time Spent on Site  Daily Internet Usage  \
0        12                       NaN                131.76
1        15                     47.64                122.02
2        17                     69.57                113.12
3        19                       NaN                143.56
4        20                     63.45                140.64
..      ...                       ...                   ...
459     997                     69.17                123.62
460     999                     43.70                173.01
461    1000                     72.97                208.58
462    1001                     51.30                   NaN
463    1002                     51.63                120.37

                             Ad Topic Line  Clicked on Ad   Age  Male  \
0                 Reactive local challenge              1  48.0   1.0
1           Centralized neutral neural-net              1  49.0   NaN
2    Centralized content-based focus group              1  48.0   1.0
3            Grass-roots coherent extranet              1  33.0   0.0
4       Persistent demand-driven interface              1  23.0   NaN
..                                     ...            ...   ...   ...
459          Extended leadingedge solution              1  40.0   NaN
460          Front-line bifurcated ability              1  28.0   0.0
461          Fundamental modular algorithm              1  30.0   NaN
462        Grass-roots cohesive monitoring              1  45.0   1.0
463           Expanded intangible solution              1  51.0   NaN

                 City                 Country  Area Income
0    Port Jefferybury               Australia     24593.33
1     West Brandonton                   Qatar     45632.51
2      West Katiefurt                   Egypt     51636.92
3                 NaN                Barbados     30976.00
4                 NaN                   Spain     52182.23
..                ...                     ...          ...
459       New Patrick              Montenegro     66193.81
460      Nicholasland                 Mayotte     63126.96
461         Duffystad                 Lebanon     71384.57
462       New Darlene  Bosnia and Herzegovina     67782.17
463     South Jessica                Mongolia     42415.72

[464 rows x 10 columns]

***Задача 14***

К полученному датафрейму с успешными рекламными сообщениями `success_adv_df` добавьте справа информацию из датафрейма с пользователями `users_df` и сохраните в датафрейм `success_full_df`. В полученном датафрейме должны остаться только те пользователи, номера которых есть в обоих датафреймах. Для этого воспользуйтесь методом `merge` и пропишите явно верные параметры.

Затем распечатайте датафрейм.

*Важно:*

Объединять датафреймы с помощью `merge` можно и по индексам, и по столбцам с разными названиями. 
Так как общие значения содержатся в столбце `Number`, но в датафрейме `users_df` данный столбец является обычным столбцом, а в `success_adv_df` является индексом, перед тем как объединять, переведите столбец `Number` в `success_adv_df` в обычный столбец.

Для этого перед объединением пропишите:
```
success_adv_df = success_adv_df.reset_index()
```

[Подробнее о reset_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html)

In [38]:
success_adv_df = success_adv_df.reset_index()
success_full_df = pd.merge(success_adv_df, users_df, on='Number')
print(success_full_df)

     index  Number  Daily Time Spent on Site  Daily Internet Usage  \
0        0      12                       NaN                131.76
1        1      15                     47.64                122.02
2        2      17                     69.57                113.12
3        3      19                       NaN                143.56
4        4      20                     63.45                140.64
..     ...     ...                       ...                   ...
459    470     997                     69.17                123.62
460    471     999                     43.70                173.01
461    472    1000                     72.97                208.58
462    473    1001                     51.30                   NaN
463    474    1002                     51.63                120.37

                             Ad Topic Line  Clicked on Ad   Age  Male  \
0                 Reactive local challenge              1  48.0   1.0
1           Centralized neutral neural-net              1  49.0   NaN
2    Centralized content-based focus group              1  48.0   1.0
3            Grass-roots coherent extranet              1  33.0   0.0
4       Persistent demand-driven interface              1  23.0   NaN
..                                     ...            ...   ...   ...
459          Extended leadingedge solution              1  40.0   NaN
460          Front-line bifurcated ability              1  28.0   0.0
461          Fundamental modular algorithm              1  30.0   NaN
462        Grass-roots cohesive monitoring              1  45.0   1.0
463           Expanded intangible solution              1  51.0   NaN

                 City                 Country  Area Income
0    Port Jefferybury               Australia     24593.33
1     West Brandonton                   Qatar     45632.51
2      West Katiefurt                   Egypt     51636.92
3                 NaN                Barbados     30976.00
4                 NaN                   Spain     52182.23
..                ...                     ...          ...
459       New Patrick              Montenegro     66193.81
460      Nicholasland                 Mayotte     63126.96
461         Duffystad                 Lebanon     71384.57
462       New Darlene  Bosnia and Herzegovina     67782.17
463     South Jessica                Mongolia     42415.72

[464 rows x 11 columns]

***Задача 15***

Для объединённого датафрейма с пользователями, которые кликнули на рекламное сообщение `success_full_df`, отобразите сводную таблицу со статистиками для строковых колонок (`Ad Topic Line`, `City`, `Country`).

In [39]:
pd.pivot_table(success_full_df,  
                index=['Ad Topic Line', 'City', 'Country'],
                values=['Clicked on Ad'],  
                aggfunc='count',  
                margins=True,  
                margins_name='Total')

                                                                             Clicked on Ad
Ad Topic Line                           City            Country
Adaptive context-sensitive application  Joneston        China                            1
Adaptive contextually-based methodology Port Paultown   Austria                          1
Adaptive demand-driven knowledgebase    Colebury        Tuvalu                           1
Adaptive uniform capability             East Georgeside Bahamas                          1
Advanced 24/7 productivity              Millertown      Russian Federation               1
...                                                                                    ...
Vision-oriented optimizing middleware   Jessicahaven    Cambodia                         1
Vision-oriented system-worthy forecast  Johnsontown     Brunei Darussalam                1
Visionary asymmetric encryption         South Lauratown Japan                            1
Visionary maximized process improvement Hamiltonfort    Trinidad and Tobago              1
Total                                                                                  380

[381 rows x 1 columns]

***Задача 16***

Для объединённого датафрейма с пользователями, которые кликнули на рекламное сообщение `success_full_df`, выведите страну и количество вхождений этой страны в датафрейм.

In [40]:
success_full_df['Country'].value_counts().reset_index().rename(columns={'index':'country', 'Country':'count'})

            country  count
0          Ethiopia      7
1         Australia      6
2            Turkey      6
3           Liberia      6
4           Senegal      5
..              ...    ...
198         Ukraine      1
199  United Kingdom      1
200      Montserrat      1
201     Timor-Leste      1
202         Comoros      1

[203 rows x 2 columns]

***Задача 17***

Для объединённого датафрейма с пользователями, которые кликнули на рекламное сообщение `success_full_df`, выведите строки с данными пользователей из страны, название которой встречается чаще остальных.

In [41]:
most_common_country = success_full_df['Country'].value_counts().index[0]
results = success_full_df[success_full_df['Country'] == most_common_country]
print(results)

     index  Number  Daily Time Spent on Site  Daily Internet Usage  \
245    249     525                     46.61                136.18
246    250     526                     63.26                120.46
278    283     606                     52.13                118.27
297    303     650                       NaN                137.97
299    305     652                     46.43                137.20
417    426     919                     41.86                128.62
423    433     930                       NaN                   NaN

                                       Ad Topic Line  Clicked on Ad   Age  \
245              Progressive intermediate throughput              1  42.0
246                    Customizable holistic archive              1  29.0
278                 Open-source even-keeled database              1  50.0
297      Seamless bandwidth-monitored knowledge user              1  28.0
299  Reverse-engineered background Graphic Interface              1  28.0
417                      Open-source stable paradigm              1  39.0
423           Front-line fresh-thinking installation              1  45.0

     Male               City   Country  Area Income
245   0.0      Catherinefort  Ethiopia     65856.74
246   1.0         East Donna  Ethiopia     54787.37
278   1.0  West Raymondmouth  Ethiopia     40926.93
297   1.0          Markhaven  Ethiopia     39723.97
299   1.0          Brianland  Ethiopia     53922.43
417   1.0        Hawkinsbury  Ethiopia     53041.77
423   0.0     Huffmanchester  Ethiopia     43241.88

***Задача 18***

Для объединённого датафрейма с пользователями, которые кликнули на рекламное сообщение `success_full_df`, выведите строки с данными пользователей из страны, название которой встречается чаще остальных, они проводят в интернете в среднем больше 120 минут и их возраст меньше 30 лет. 
Cохраните получившиеся строки в новый датафрейм `filtered_df`.

In [44]:
most_common_country = success_full_df['Country'].value_counts().index[0]
filtered_df = success_full_df[(success_full_df['Country'] == most_common_country) &
                              (success_full_df['Daily Internet Usage'] > 120) &   
                              (success_full_df['Age'] < 30)]  

filtered_df = filtered_df
print(filtered_df)

     index  Number  Daily Time Spent on Site  Daily Internet Usage  \
246    250     526                     63.26                120.46
297    303     650                       NaN                137.97
299    305     652                     46.43                137.20

                                       Ad Topic Line  Clicked on Ad   Age  \
246                    Customizable holistic archive              1  29.0
297      Seamless bandwidth-monitored knowledge user              1  28.0
299  Reverse-engineered background Graphic Interface              1  28.0

     Male        City   Country  Area Income
246   1.0  East Donna  Ethiopia     54787.37
297   1.0   Markhaven  Ethiopia     39723.97
299   1.0   Brianland  Ethiopia     53922.43

***Задача 19***

Для получившегося датафрейма `filtered_df` выведите строки с данными пользователей, для которых либо не указано среднее время, проведённое на сайте, либо указанное время больше 55 минут. Cохраните получившиеся строки в новый датафрейм `filtered_df2`.

In [46]:
filtered_df2 = filtered_df[(filtered_df['Daily Internet Usage'].isna()) |  
                           (filtered_df['Daily Internet Usage'] > 55)]
   
filtered_df2 = filtered_df2
print(filtered_df2)

     index  Number  Daily Time Spent on Site  Daily Internet Usage  \
246    250     526                     63.26                120.46
297    303     650                       NaN                137.97
299    305     652                     46.43                137.20

                                       Ad Topic Line  Clicked on Ad   Age  \
246                    Customizable holistic archive              1  29.0
297      Seamless bandwidth-monitored knowledge user              1  28.0
299  Reverse-engineered background Graphic Interface              1  28.0

     Male        City   Country  Area Income
246   1.0  East Donna  Ethiopia     54787.37
297   1.0   Markhaven  Ethiopia     39723.97
299   1.0   Brianland  Ethiopia     53922.43

**Дополнительные задачи**

***Задача 20***

Для датафрейма `adv123_df` выведите строки с данными, заголовок рекламного сообщения в которых включает слово `model`.

Для этого вам понадобится метод [`contains`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html).

Cохраните получившиеся строки в новый датафрейм `model_df`.

In [48]:
model_df = adv123_df[adv123_df['Ad Topic Line'].str.contains('model')]
model_df = model_df
print(model_df)

        Daily Time Spent on Site  Daily Internet Usage  \
Number
62                         44.98                129.31
119                        69.00                   NaN
202                        78.57                   NaN
211                        76.90                212.67
314                          NaN                161.16
350                        65.77                   NaN
501                        81.10                216.49
538                        91.43                209.91
629                        78.17                192.27
712                        81.90                225.47
823                        81.98                212.88
995                        35.79                165.62

                              Ad Topic Line  Clicked on Ad
Number
62                   Organized global model              1
119                 Virtual composite model              0
202           Exclusive client-driven model              0
211           Synchronized multimedia model              0
314              Extended interactive model              1
350     Function-based fault-tolerant model              0
501                Front-line dynamic model              0
538                Organic motivating model              0
629                  Automated mobile model              0
712     Multi-channeled 3rdgeneration model              0
823                Up-sized maximized model              0
995          Enterprise-wide tangible model              1

***Задача 21***

Для получившегося датафрейма `model_df` выведите строки с данными пользователей, которые проводят на сайте больше среднего времени по всем пользователям в данном датафрейме. Cохраните получившиеся строки в новый датафрейм `model_popular_df`.

In [49]:
mean_usage = model_df['Daily Internet Usage'].mean()
model_popular_df = model_df[model_df['Daily Internet Usage'] > mean_usage]
model_popular_df = model_popular_df
print(model_popular_df)

        Daily Time Spent on Site  Daily Internet Usage  \
Number
211                        76.90                212.67
501                        81.10                216.49
538                        91.43                209.91
629                        78.17                192.27
712                        81.90                225.47
823                        81.98                212.88

                              Ad Topic Line  Clicked on Ad
Number
211           Synchronized multimedia model              0
501                Front-line dynamic model              0
538                Organic motivating model              0
629                  Automated mobile model              0
712     Multi-channeled 3rdgeneration model              0
823                Up-sized maximized model              0

***Задача 22***

Для объединённого датафрейма `model_popular_df` выведите строки с данными пользователей, номера которых равны 501, 712 и 823. 

Для этого вам понадобится метод [`isin`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html).

*Подсказка:* Не забудьте, что номера пользователей находятся не в обычной колонке, а в колонке, являющейся индексом, поэтому вам необходимо получить значения индекса, а не обычной колонки.

In [51]:
user_ids = [501, 712, 823]
results = model_popular_df.loc[model_popular_df.index.isin(user_ids)]
print(results)

        Daily Time Spent on Site  Daily Internet Usage  \
Number
501                        81.10                216.49
712                        81.90                225.47
823                        81.98                212.88

                              Ad Topic Line  Clicked on Ad
Number
501                Front-line dynamic model              0
712     Multi-channeled 3rdgeneration model              0
823                Up-sized maximized model              0